In [5]:
import pandas as pd # import pandas

In [6]:
path2 = r'C:\Users\DELL\Desktop\Nawy Task/Leads4.xlsx' #asign a valiable path to the file directory

In [10]:
df= pd.read_excel(path2) # read the file with pandas

In [11]:
print(df)

          id    date_of_last_request method_of_contact buyer seller  \
0      16482 2019-07-05 00:00:00.000             Phone     t      f
1      19854 2019-11-16 18:40:45.983             Forms     t      f
2      14907 2019-05-14 00:00:00.000             Phone     t      f
3       5783 2018-04-15 00:00:00.000             Phone     t      f
4      29158 2020-12-09 08:07:29.666             Forms     t      f
...      ...                     ...               ...   ...    ...
31597  25958 2020-08-14 20:29:35.196          Facebook     t      f
31598  16372 2020-08-15 12:18:36.106          Facebook     t      f
31599  23574 2020-05-27 12:02:37.865          Whatsapp     t      f
31600  24792 2020-07-13 14:05:19.057             Phone     t      f
31601  25050 2020-07-21 06:31:04.273          Whatsapp     t      f

      best_time_to_call status2                                     desc  \
0                   NaN     NaN  Wants to buy a ready apartment in Zayed
1               all day     NaN                           No description
2                   NaN     NaN                           No description
3                   NaN     NaN                           No description
4                  12pm     NaN                           No description
...                 ...     ...                                      ...
31597               NaN     NaN                           No description
31598          no calls     NaN                                      NaN
31599               NaN     NaN                           No description
31600               NaN     NaN                           No description
31601               NaN     NaN                           No description

                   created_at              updated_at user_id  \
0     2019-07-05 11:56:17.000 2020-11-03 14:56:12.000     150
1     2019-11-16 18:40:45.988 2020-11-03 15:02:32.206     150
2     2019-05-14 10:00:28.792 2021-03-21 14:37:14.150      80
3     2018-04-15 15:49:02.432 2018-05-02 15:16:35.132       2
4     2020-12-09 08:07:29.673 2021-05-05 12:42:52.213      77
...                       ...                     ...     ...
31597 2020-08-14 20:30:31.281 2021-03-11 13:30:50.810     102
31598 2019-07-02 12:20:23.686 2021-03-11 13:35:16.113     102
31599 2020-05-26 20:03:29.047 2021-01-18 08:26:26.097       2
31600 2020-07-13 14:05:19.063 2021-01-05 14:21:38.764      77
31601 2020-07-21 06:31:04.283 2021-01-08 06:07:41.420       2

                               location date_of_last_contact status_id  \
0                               October  2020-11-03 00:00:00         1
1      كبموند البروج في القاهرة الجديدة  2020-11-03 00:00:00         1
2                                 Bay 7  2021-03-21 00:00:00       121
3                            Capitalway  2018-05-02 00:00:00        17
4                          The Estates   2021-05-05 00:00:00       121
...                                 ...                  ...       ...
31597                The Furl - Jefaira  2021-03-11 00:00:00       121
31598                The Furl - Jefaira  2021-03-11 00:00:00         7
31599                   IL Monte galala  2020-12-06 00:00:00        38
31600                   IL Monte galala  2021-01-05 00:00:00         1
31601                   IL Monte galala  2020-08-09 00:00:00        38

          campaign commercial
0              NaN          f
1       google_cpc          f
2              NaN          f
3              NaN          f
4      Dev_-_SODIC          f
...            ...        ...
31597          NaN          f
31598          NaN          f
31599          NaN          f
31600          NaN          f
31601          NaN          f

[31602 rows x 16 columns]

In [14]:
df.shape #caculate the columns and rows

(31602, 16)

In [15]:
df.info() #know more info about the valuse in our data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31602 entries, 0 to 31601
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    31599 non-null  object
 1   date_of_last_request  31596 non-null  datetime64[ns]
 2   method_of_contact     31602 non-null  object
 3   buyer                 31596 non-null  object
 4   seller                31595 non-null  object
 5   best_time_to_call     6231 non-null   object
 6   status2               2206 non-null   object
 7   desc                  31419 non-null  object
 8   created_at            31595 non-null  datetime64[ns]
 9   updated_at            31592 non-null  datetime64[ns]
 10  user_id               31551 non-null  object
 11  location              30935 non-null  object
 12  date_of_last_contact  30775 non-null  object
 13  status_id             31592 non-null  object
 14  campaign              21573 non-null  object
 15  commercial            31589 non-null  object
dtypes: datetime64[ns](3), object(13)
memory usage: 3.9+ MB

In [31]:
display(df) # to display the data in data frame style

,id,date_of_last_request,method_of_contact,buyer,seller,best_time_to_call,status2,desc,created_at,updated_at,user_id,location,date_of_last_contact,status_id,campaign,commercial
0,16482,2019-07-05 00:00:00.000,Phone,t,f,NaN,NaN,Wants to buy a ready apartment in Zayed,2019-07-05 11:56:17.000,2020-11-03 14:56:12.000,150,October,2020-11-03 00:00:00,1,NaN,f
1,19854,2019-11-16 18:40:45.983,Forms,t,f,all day,NaN,No description,2019-11-16 18:40:45.988,2020-11-03 15:02:32.206,150,كبموند البروج في القاهرة الجديدة,2020-11-03 00:00:00,1,google_cpc,f
2,14907,2019-05-14 00:00:00.000,Phone,t,f,NaN,NaN,No description,2019-05-14 10:00:28.792,2021-03-21 14:37:14.150,80,Bay 7,2021-03-21 00:00:00,121,NaN,f
3,5783,2018-04-15 00:00:00.000,Phone,t,f,NaN,NaN,No description,2018-04-15 15:49:02.432,2018-05-02 15:16:35.132,2,Capitalway,2018-05-02 00:00:00,17,NaN,f
4,29158,2020-12-09 08:07:29.666,Forms,t,f,12pm,NaN,No description,2020-12-09 08:07:29.673,2021-05-05 12:42:52.213,77,The Estates,2021-05-05 00:00:00,121,Dev_-_SODIC,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31597,25958,2020-08-14 20:29:35.196,Facebook,t,f,NaN,NaN,No description,2020-08-14 20:30:31.281,2021-03-11 13:30:50.810,102,The Furl - Jefaira,2021-03-11 00:00:00,121,NaN,f
31598,16372,2020-08-15 12:18:36.106,Facebook,t,f,no calls,NaN,NaN,2019-07-02 12:20:23.686,2021-03-11 13:35:16.113,102,The Furl - Jefaira,2021-03-11 00:00:00,7,NaN,f
31599,23574,2020-05-27 12:02:37.865,Whatsapp,t,f,NaN,NaN,No description,2020-05-26 20:03:29.047,2021-01-18 08:26:26.097,2,IL Monte galala,2020-12-06 00:00:00,38,NaN,f
31600,24792,2020-07-13 14:05:19.057,Phone,t,f,NaN,NaN,No description,2020-07-13 14:05:19.063,2021-01-05 14:21:38.764,77,IL Monte galala,2021-01-05 00:00:00,1,NaN,f
31601,25050,2020-07-21 06:31:04.273,Whatsapp,t,f,NaN,NaN,No description,2020-07-21 06:31:04.283,2021-01-08 06:07:41.420,2,IL Monte galala,2020-08-09 00:00:00,38,NaN,f

In [17]:
df.isnull().sum() # calculate the null values

id                          3
date_of_last_request        6
method_of_contact           0
buyer                       6
seller                      7
best_time_to_call       25371
status2                 29396
desc                      183
created_at                  7
updated_at                 10
user_id                    51
location                  667
date_of_last_contact      827
status_id                  10
campaign                10029
commercial                 13
dtype: int64

In [21]:
# print(read_leads_file['best_time_to_call'].value_counts())
# print ('===============================================')
# print(read_leads_file['what_was_bought'].value_counts())
# print ('===============================================')
# print(read_leads_file['moved'].value_counts())
# #print ('===============================================')
# print(read_leads_file['desc'].value_counts())
# print ('===============================================')
# print(read_leads_file['status2'].value_counts())
# print ('===============================================')
# print(read_leads_file['user_id'].value_counts())
# print(read_leads_file['date_of_trans'].value_counts())
# print(read_leads_file['campaign'].value_counts())
# print(read_leads_file['compound_id'].value_counts())
print ('===============================================')
print(df['commercial'].value_counts()) ## code to know the mode value in the column

===============================================
f    31578
t       11
Name: commercial, dtype: int64

In [46]:
## some code to rplace the data with python 
df['budget'] = df['budget'].fillna(df['budget'].mean())# 01 rplace the cloumn nulls with mean 

df = df.fillna({'budget_currency':'EGP' ,'unit_value_currency':'EGP','best_time_to_call':'Any time','campaign':'(none)'}) # 02 replace nulls in the column with mode
df['budget'] = df['budget'].fillna(df['budget'].mean())# 02 rplace the cloumn nulls with mean

In [24]:
df.isnull().sum()/len(df)*100 #calculate the percentage of the missing values in each column

id                       0.009493
date_of_last_request     0.018986
method_of_contact        0.000000
buyer                    0.018986
seller                   0.022150
best_time_to_call       80.282893
status2                 93.019429
desc                     0.579077
created_at               0.022150
updated_at               0.031644
user_id                  0.161382
location                 2.110626
date_of_last_contact     2.616923
status_id                0.031644
campaign                31.735333
commercial               0.041137
dtype: float64

In [36]:
df.to_excel(r'C:\Users\DELL\Desktop\Nawy Task/Leads4.xlsx',index = False) # extract the data after clean into execl sheet